@import url(https://fonts.googleapis.com/icon?family=Comfortaa);
@import 'primeicons/primeicons.css';

* {
    font-family: 'Comfortaa', sans-serif;
}

/* Sizes */
body {
    margin: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

:root {
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --focus: rgb(180, 206, 255)
}

/* Coloring scheme*/
:root {
    color-scheme: light;

    --background: white;
    --primary-color: #70f1f1;
    --good: #cdf1cd;
    --warn: #f67322;
    --value-changed-outline: #e63e18;
    --selected-gradient: linear-gradient(#70f1f1, #05878c);
    --basic-gradient: linear-gradient(#fff9f9, #AAA8A8);

    --border-radius: 8px;
}

/* PrimeVue overrides*/
:root {
    --p-primary-color: var(--primary-color) !important;
}

/*Font sizes*/
:root {
    font-size: 20px;
}

@media (max-width: 400px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 200px) {
    :root {
        font-size: 8px;
    }
}
