@import url(https://fonts.googleapis.com/icon?family=Comfortaa);
@import 'primeicons/primeicons.css';

* {
    font-family: 'Comfortaa', sans-serif;
}

/* Sizes */
body {
    margin: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

:root {
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Coloring scheme*/
:root {
    color-scheme: light;

    --background: white;

    --good: #96dd96;
    --warn: #f67322;
    --value-changed-outline: #e63e18;
    --selected-gradient: linear-gradient(#70f1f1, #05878c);
    --basic-gradient: linear-gradient(#fff9f9, #AAA8A8);
}

/*Font sizes*/
:root {
    font-size: 20px;
}

@media (max-width: 400px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 200px) {
    :root {
        font-size: 8px;
    }
}
