.BoomBox {
    display: flex;
    min-width: max-content;
    justify-content: center;
}

.BoomBoxItem {
    max-width: 6em;

    flex: 1;
    position: relative;
}

.BoomBoxItem + .BoomBoxItem {
    border-left: 2px solid black;
}

.BoomBoxItem:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.BoomBoxItem:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
